import("methods")
import("utils")
import("ergm")
import("network")
exportMethods("gof")
exportMethods("getformula")
exportMethods("interpret")
export("is.mat.directed")
export("is.mat.onemode")
export("adjust")
export("handleMissings")
export("preprocess")
