import("methods")
import("utils")
export("gof")
export("getformula")
export("interpret")
exportMethods("getformula")
exportMethods("gof")
exportMethods("interpret")
export("is.mat.directed")
export("is.mat.onemode")
